@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Btn {
    font-size: 20px;
    text-decoration: none;
}

.Btn a {
    text-decoration: none;
    color: white;
}

.Btn a:hover {
    color: lightgray;
}