.Footer {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.allContent {
    text-align: center;
    color: lightgrey;
    padding-top: 30px;
    font-size: 30px;
}

