.SizesBtn {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.All {
    background-color:black;
    color: rgb(200, 200, 200);
    border: none;
    box-shadow: 1px 1px 1px 1px lightgray;
    width: 50px;
    height: 30px;
    margin-top: 100px;
    font-size: 16px;
}

.All:hover{
    transition: 0.2s;
    color: white;
    font-weight: 550;
}