@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Btns {
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.DecrementBtn {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    height: 30px;
    width: 140px;
    border: none;
    font-size: 18px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
}

.DecrementBtn:hover{
    font-weight: 550;
}

.IncrementBtn {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: none;
    height: 28px;
    width: 140px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
}

.IncrementBtn:hover {
    font-weight: 550;
}

.Count {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: none;
    height: 28px;
    width: 140px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
    text-align: center;

}

.AddBtn {
    font-family: 'Raleway', sans-serif;
    float: left;
    background-color: white;
    border: none;
    height: 30px;
    width: 500px;
    font-size: 16px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
}

.AddBtn:hover {
    font-weight: 550;
}

p {
    font-size: 18px;
    color: rgb(130, 130, 130);
}


/********** MEDIA QUERIES **********/

@media only screen and (max-width: 1224px) {
    .Btns {
        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
    }
    
    .DecrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 30px;
        width: 140px;
        border: none;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .DecrementBtn:hover{
        font-weight: 550;
    }
    
    .IncrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 28px;
        width: 140px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .IncrementBtn:hover {
        font-weight: 550;
    }
    
    .Count {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 28px;
        width: 140px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
        text-align: center;
    
    }
    
    .AddBtn {
        font-family: 'Raleway', sans-serif;
        float: left;
        background-color: white;
        border: none;
        height: 30px;
        width: 500px;
        font-size: 16px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .AddBtn:hover {
        font-weight: 550;
    }
    
    p {
        font-size: 18px;
        color: rgb(130, 130, 130);
    }
    
}

/********* MEDIA QUERIES *******/
@media only screen and (max-width: 1224px) {
    .Btns {
        font-family: 'Raleway', sans-serif;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
    }
    
    .DecrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 25px;
        width: 120px;
        border: none;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .DecrementBtn:hover{
        font-weight: 550;
    }
    
    .IncrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 25px;
        width: 120px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .IncrementBtn:hover {
        font-weight: 550;
    }
    
    .Count {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 130px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
        text-align: center;
    
    }
    
    .AddBtn {
        font-family: 'Raleway', sans-serif;
        float: left;
        background-color: white;
        border: none;
        height: 22px;
        width: 400px;
        font-size: 16px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .AddBtn:hover {
        font-weight: 550;
    }
    
    p {
        font-size: 18px;
        color: rgb(130, 130, 130);
    }
    
}

@media only screen and (max-width: 1024px) {
    .Btns {
        font-family: 'Raleway', sans-serif;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 330px;
    }
    
    .DecrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 20px;
        width: 100px;
        border: none;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .DecrementBtn:hover{
        font-weight: 550;
    }
    
    .IncrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 100px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .IncrementBtn:hover {
        font-weight: 550;
    }
    
    .Count {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 100px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
        text-align: center;
    
    }
    
    .AddBtn {
        font-family: 'Raleway', sans-serif;
        float: left;
        background-color: white;
        border: none;
        height: 22px;
        width: 330px;
        font-size: 16px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .AddBtn:hover {
        font-weight: 550;
    }
    
    p {
        font-size: 18px;
        color: rgb(130, 130, 130);
    }
    
}

@media only screen and (max-width: 768px) {
    .Btns {
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 330px;
    }
    
    .DecrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 20px;
        width: 100px;
        border: none;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .DecrementBtn:hover{
        font-weight: 550;
    }
    
    .IncrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 100px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .IncrementBtn:hover {
        font-weight: 550;
    }
    
    .Count {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 100px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
        text-align: center;
    
    }
    
    .AddBtn {
        font-family: 'Raleway', sans-serif;
        float: left;
        background-color: white;
        border: none;
        height: 22px;
        width: 330px;
        font-size: 16px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .AddBtn:hover {
        font-weight: 550;
    }
    
    p {
        font-size: 18px;
        color: rgb(130, 130, 130);
    }
}

@media only screen and (max-width: 480px) {
    .Btns {
        font-family: 'Raleway', sans-serif;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
    }
    
    .DecrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 20px;
        width: 60px;
        border: none;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .DecrementBtn:hover{
        font-weight: 550;
    }
    
    .IncrementBtn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 60px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .IncrementBtn:hover {
        font-weight: 550;
    }
    
    .Count {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        border: none;
        height: 20px;
        width: 60px;
        font-size: 18px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
        text-align: center;
    
    }
    
    .AddBtn {
        font-family: 'Raleway', sans-serif;
        float: left;
        background-color: white;
        border: none;
        height: 22px;
        width: 240px;
        font-size: 16px;
        color: rgb(130, 130, 130);
        box-shadow: 1px 1px 1px 1px lightgray;
    }
    
    .AddBtn:hover {
        font-weight: 550;
    }
    
    p {
        font-size: 18px;
        color: rgb(130, 130, 130);
    }
}

@media only screen and (max-width: 320px) {
}