.Container{
    margin: auto;
    height: auto;
    width: 1150px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 80px;
}

.Image {
    width: 500px;
}

.Content {
    width: 500px;
    height: auto;
}

.Name {
    font-size: 40px;
}

.Price {
    font-size: 32px;
    color: black;
    font-weight: 620;
    margin-top: 40px;
}

.Description1 {
    margin-top: 50px;
}

.Description2, .Description3 {
    margin-top: 20px;
}

.Category {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    width: 80px;
    text-align: center;
}

.Size {
    font-size: 22px;
    margin-top: 20px;
}

.GoCart {
    float: left;
    margin-top: 100px;
    background-color: white;
    border: none;
    height: 40px;
    width: 500px;
    font-size: 22px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
    text-align: center;
    text-decoration: none;
}

.GoCart:hover {
    font-weight: 550;
    background-color: rgb(247, 247, 247);
    border-color: rgb(245, 245, 245);
    box-shadow: 3px 3px 3px 3px rgb(220, 220, 220);
    transition: 0.2s;
}
