@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Btns {
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.DecrementBtn {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    height: 30px;
    width: 140px;
    border: none;
    font-size: 18px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
}

.DecrementBtn:hover{
    font-weight: 550;
}

.IncrementBtn {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: none;
    height: 28px;
    width: 140px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
}

.IncrementBtn:hover {
    font-weight: 550;
}

.Count {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: none;
    height: 28px;
    width: 140px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
    text-align: center;

}

.AddBtn {
    font-family: 'Raleway', sans-serif;
    float: left;
    background-color: white;
    border: none;
    height: 30px;
    width: 500px;
    font-size: 16px;
    color: rgb(130, 130, 130);
    box-shadow: 1px 1px 1px 1px lightgray;
}

.AddBtn:hover {
    font-weight: 550;
}

p {
    font-size: 18px;
    color: rgb(130, 130, 130);
}
