@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Container {
    height: auto;
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(550px, afr));
    margin-top: 60px;
    row-gap: 100px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}
