@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');

.Card {
    height: 445px;
    width: 260px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
}

.Card:hover {
    transition: 0.5s;
    height: 450px;
    width: 265px;
    background-color: rgb(247, 247, 247);
    border-color: rgb(245, 245, 245);
    box-shadow: 4px 4px 4px 4px rgb(220, 220, 220);
}

.Name {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

.Category2 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    color: darkgray;
    font-weight: 550;
    font-style: italic;
    margin-top: 4px;
}

.Price {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 4px;
}

.Image {
    display: block;
    margin: auto;
    width: 240px;
    padding-top: 10px;
}

hr {
    opacity: 0.5;
    width: 90%;
}

.Detailsbtn {
    display: block;
    margin: auto;
    height: 28px;
    width: 80px;
    background-color: black;
    border: none;
    font-size: 15px;
    color: rgb(200, 200, 200);
    box-shadow: 1px 1px 1px 1px lightgray;
    text-decoration: none;
    text-decoration: none;
}

.Detailsbtn:hover {
    height: 30px;
    width: 82px;
    transition: 0.5s;
    color: white;
}