.Container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: 450px;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
    row-gap: 30px;
    column-gap: 30px;
}

.Card {
    height: 380px;
    width: 260px;
    background-color: white;
    border-radius: 5px;
}

.Card :hover{
    box-shadow: 2px 2px 2px 2px lightgray;
}