.Card {
    height: 380px;
    width: 240px;
    background-color: white;
    border-radius: 5px;
}

.Name {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.Price {
    font-size: 18px;
    text-align: center;
}

.Image{
    display: block;
    margin: auto;
    width: 240px;
    padding-top: 10px;
}

hr{
    opacity: 0.5;
}

.Detailsbtn {
    display: block;
    margin: auto;
    height: 28px;
    width: 80px;
    background-color: rgb(130, 130, 130);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.Detailsbtn:hover{
    height: 32px;
    width: 90px;
    transition: 0.5s;
    color: rgb(200, 200, 200);
}