.Card {
    height: 420px;
    width: 260px;
    border-color: rgb(220, 220, 220);
    border-style: solid;
    
}

.Name {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-weight: 550;
}

.Price {
    font-size: 16px;
    text-align: center;
}

.Image{
    display: block;
    margin: auto;
    width: 240px;
    padding-top: 10px;
}

hr{
    opacity: 0.5;
    width: 90%;
}

.Detailsbtn {
    display: block;
    margin: auto;
    height: 28px;
    width: 80px;
    background-color: rgb(130, 130, 130);
    border: none;
    font-size: 16px;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.Detailsbtn:hover{
    height: 30px;
    width: 82px;
    transition: 0.5s;
    color: rgb(200, 200, 200);
}