.SizesBtn {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.All {
    background-color: rgb(130, 130, 130);
    color: white;
    border: none;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 2px;
    width: 50px;
    height: 30px;
    margin-top: 100px;
}

.All:hover{
    color: rgb(200, 200, 200);
    font-weight: 550;
}