.Container {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(550px, afr));
    margin-top: 80px;
    row-gap: 100px;
    column-gap: 25px;
    justify-items: center;
    align-items: center;
}
